



body{
    display:flex;
    flex-direction:column;
    margin: 0;
    padding: 0;
    
}


.header,.footer{
    flex:1;
    color:white ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
li{
    width:100px;
}
.consultants{
  box-shadow: 5px 3px 19px ;
  height:300px;
  text-align: center;
}